---
import Base from '../layout/Base.astro';
import Counter from "../components/counter-app/counter/counter";
import Container from '../components/Container.astro';
import '../styles/global.scss';
---

<Base>
	<div class="wrap">
		<Container>
			<h1 class="title">Dhumbal</h1>
			<div class="counter">
				<Counter client:load />
			</div>
		</Container>
	</div>
</Base>

<style lang="scss">

.wrap {
	padding: 4rem 0;
}

.title {
	color: #333;
	font-size: 3.2rem;
	font-weight: bold;
	text-align: center;
	font-family: 'Lato';
}

.counter {
	max-width: 72rem;
	width: 100%;
	margin:4rem auto 0;
}

</style>